<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CENTRO DE ESTUDIANTES</title>
</head>
<body>
    <nav>
        <div>
            <a href="index.html">Home</a>
        </div>

        <div>
            <h1>CENTRO DE ESTUDIANTES</h1>
        </div>
    </nav>

    <!-- carrusel de fotos de la facu y estudiantes  -->
    <section>
        <div>
            <!-- Indicators -->
            <ul>
                <li></li>
                <li></li>
                <li></li>
              </ul>
  
              <!-- The slideshow -->
              <div>
                  <div>
                      <img src="image1.jpg" alt="image1">
                  </div>
                  <div>
                      <img src="image2.jpg" alt="image2">
                  </div>
                  <div>
                      <img src="image3.jpg" alt="image3">
                  </div>
              </div>
            
              <!-- Left and right controls -->
              <a>
                <span><</span>
              </a>
  
              <a>
                <span>></span>
              </a>
        </div>
    </section>

    <section>
        <article>
            <h2>TITULO DE CARDS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum excepturi quibusdam, itaque cupiditate dolorem beatae molestias tempore veritatis adipisci neque doloribus! Officiis reprehenderit non neque laborum accusamus deserunt optio molestiae?</p>
            <div>
                <img src="" alt="imagen">
                <div>
                  <h3>Titulo de card</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam molestiae id maxime adipisci reiciendis nihil ducimus, debitis tempore. Architecto sequi atque molestias eum fugiat illum adipisci accusamus consequuntur perferendis veritatis.</p>
                </div>
              </div>

            <div>
                <img src="" alt="imagen">
                <div>
                  <h3>Titulo de card</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam molestiae id maxime adipisci reiciendis nihil ducimus, debitis tempore. Architecto sequi atque molestias eum fugiat illum adipisci accusamus consequuntur perferendis veritatis.</p>
                </div>
              </div>

            <div>
                <img src="" alt="imagen">
                <div>
                  <h3>Titulo de card</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam molestiae id maxime adipisci reiciendis nihil ducimus, debitis tempore. Architecto sequi atque molestias eum fugiat illum adipisci accusamus consequuntur perferendis veritatis.</p>
                </div>
              </div>
        </article>
    </section>

    <section>
        <article>
            <h3>POSTEOS DE INSTAGRAM</h3>
        
            <a href="#" target="_blank"><img src="/images/centro de estudiantes/like.png" alt="posteo de instagram" width="50" height="50"></a>     
            <a href="#" target="_blank"><img src="/images/centro de estudiantes/like.png" alt="posteo de instagram" width="50" height="50"></a>     
            <a href="#" target="_blank"><img src="/images/centro de estudiantes/like.png" alt="posteo de instagram" width="50" height="50"></a>     
        
        </article>
    </section>

    <footer>
        <div>
            <a href="https://www.facebook.com" target="_blank"><img src="/images/logo/footer/facebook.png" alt="facebook logo" width="50" height="50"></a>     
            <a href="https://instagram.com" target="_blank"><img src="/images/logo/footer/instagram.png" alt="instagram logo" width="50" height="50"></a>     
            <a href="https://twitter.com" target="_blank"><img src="/images/logo/footer/twitter.png" alt="twitter logo" width="50" height="50"></a>     
            <a href="https://whatsapp.com" target="_blank"><img src="/images/logo/footer/whatsapp.png" alt="whatsapp logo" width="50" height="50"></a>     
            <a href="https://linkedin.com" target="_blank"><img src="/images/logo/footer/linkedin.png" alt="linkedin logo" width="50" height="50"></a>     
            <a href="https://villaellibertador.itscordoba.edu.ar/" target="_blank"><img src="/images/logo/footer/institucional.jpg" alt="institucional logo" width="50" height="50"></a>     
        </div>
    </footer>

</body>
</html>