<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChoriFest</title>
</head>
<body>
    <nav>
        <div>
            <a href="index.html">Home</a>
        </div>

        <div>
            <h3>CHORI FEST</h3>
        </div>
    </nav>

    <section>
        <div>
            <!-- Indicators -->
            <ul>
              <li></li>
              <li></li>
              <li></li>
            </ul>

            <!-- The slideshow -->
            <div>
                <div>
                    <img src="image1.jpg" alt="image1">
                </div>
                <div>
                    <img src="image2.jpg" alt="image2">
                </div>
                <div>
                    <img src="image3.jpg" alt="image3">
                </div>
            </div>
          
            <!-- Left and right controls -->
            <a>
              <span><</span>
            </a>

            <a>
              <span>></span>
            </a>          
        </div>
    </section>

    <section>
        <article>
            <form action="GET">
                <label for="nombre_completo">Nombre Completo: </label><input type="text" name="nombre_completo">
                <label for="email">Correo Electronico: </label><input type="email" name="email">
                <label for="celular">Celular: </label><input type="text" name="celular">
                
                <div>
                    <label for="chori_type">Tipo de Chori</label>
                    <input type="button" name="chori_type" value="VEGANO">
                    <input type="button" name="chori_type" value="CARNE">
                    <input type="button" name="chori_type" value="CELIACO">
                </div>

                <div>
                    <label for="role">Rol</label>
                    <input type="button" name="role" value="PARRILLERO">
                    <input type="button" name="role" value="ACOMODADOR">
                    <input type="button" name="role" value="LIMPIEZA">
                    <input type="button" name="role" value="COMPRAS">
                </div>
            </form>
        </article>
    </section>
    
    <div>
        <h3>¿Que te interesa?</h3>
        <input type="button" name="registrarme" value="Registrarme">
    </div>
    <!-- CARRUSEL  -->
    <div>
        <!-- Indicators -->
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>

        <!-- The slideshow -->
        <div>
            <div>
                <img src="image1.jpg" alt="image1">
                <div>
                    <h4>Chori Vegano</h4>
                    <p>$200</p>
                </div>
            </div>
            <div>
                <img src="image2.jpg" alt="image2">
                <div>
                    <h4>Chori Carne</h4>
                    <p>$200</p>
                </div>
            </div>
            <div>
                <img src="image3.jpg" alt="image3">
                <div>
                    <h4>Chori Celiaco</h4>
                    <p>$200</p>
                </div>
            </div>
        </div>
        <!-- Left and right controls -->
        <a>
          <span><</span>
        </a>

        <a>
          <span>></span>
        </a>          
    </div>
</body>
</html>