<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <nav class="navbar">
        <img src="/images/logo/nav/logo.png" alt="logo ITSC" width="200" height="100"> 

        <a href="">Home</a>

        <div>
            <div>
                <a href="#">Nosotros</a>
                <div>
                <a href="#">Quienes somos</a>
                <a href="#">Donde Estamos</a>
                <a href="#">Plan de estudios</a>
                <a href="#">Departamento de genero</a>
                <a href="#">Departamento de egresados </a>
                <a href="#">Estatuto</a>
                <a href="#">Contacto</a>
                </div>
            </div>
            <div>
                <a href="#">Estudiantes</a>
                <div>
                <a href="#">Horarios de clase</a>
                <a href="#">Botiquin para ingresantes</a>
                <a href="#">Install Fest</a>
                <a href="#">Certificado de examen</a>
                <a href="#">Boleto educativo</a>
                <a href="#">Becas y beneficios</a>
                </div>
            </div>
            <div>
            <a href="#">Agenda</a>
                <div>
                <a href="#">Novedades</a>
                <a href="#">Agenda Tech</a>
                <a href="chorifest.html">ChoriFest</a>
                <a href="#">Fechas de examen</a>
                <a href="#">Calendario escolar</a>
                </div>
            </div>
            <div>
                <a href="#">Practicas</a>
                <div>
                <a href="#">Empresas aliadas</a>
                <a href="#">Experiencias</a>
                <a href="#">Soy una empresa</a>
                </div>
            </div>
        </div>
        
    </nav>
    
    <hr>

    <section>
        <div>
            <!-- Indicators -->
            <ul>
              <li></li>
              <li></li>
              <li></li>
            </ul>

            <!-- The slideshow -->
            <div>
                <div>
                    <img src="image1.jpg" alt="image1">
                </div>
                <div>
                    <img src="image2.jpg" alt="image2">
                </div>
                <div>
                    <img src="image3.jpg" alt="image3">
                </div>
            </div>
          
            <!-- Left and right controls -->
            <a>
              <span><</span>
            </a>

            <a>
              <span>></span>
            </a>          
        </div>
    </section>

    <section>
        <h1>Bienvendia</h1>
        <article>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum vitae soluta dignissimos! Asperiores nemo, quos placeat aut voluptate vel modi voluptatum reprehenderit. Atque perferendis voluptates doloremque pariatur nam, consequuntur saepe.
            </p>
        </article>
        <h1>Articulo 1</h1>
        <article>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum vitae soluta dignissimos! Asperiores nemo, quos placeat aut voluptate vel modi voluptatum reprehenderit. Atque perferendis voluptates doloremque pariatur nam, consequuntur saepe.
            </p>
        </article>

        <h1>Articulo 2</h1>
        <article>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum vitae soluta dignissimos! Asperiores nemo, quos placeat aut voluptate vel modi voluptatum reprehenderit. Atque perferendis voluptates doloremque pariatur nam, consequuntur saepe.
            </p>
        </article>

        <h1>Articulo 3</h1>
        <article>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum vitae soluta dignissimos! Asperiores nemo, quos placeat aut voluptate vel modi voluptatum reprehenderit. Atque perferendis voluptates doloremque pariatur nam, consequuntur saepe.
            </p>
        </article>
    </section>

    <footer>
        <div>
            <img src="/images/logo/footer/facebook.png" alt="facebook logo" width="50" height="50">     
            <img src="/images/logo/footer/instagram.png" alt="instagram logo" width="50" height="50">     
            <img src="/images/logo/footer/twitter.png" alt="twitter logo" width="50" height="50">     
            <img src="/images/logo/footer/whatsapp.png" alt="whatsapp logo" width="50" height="50">     
            <img src="/images/logo/footer/linkedin.png" alt="linkedin logo" width="50" height="50">     
            <img src="/images/logo/footer/institucional.jpg" alt="institucional logo" width="50" height="50">     
        </div>
    </footer>

</body>
</html>