<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>

    <nav class="navbar">
        <img src="/images/logo/logo.png" class="logo" alt="logo ITSC"> 

        <a href="" class="home">Home</a>

        <div id="drops">
            <div class="dropdown">
                <a href="#">Nosotros</a>
                <div class="opciones">
                <a href="#">Quienes somos</a>
                <a href="#">Donde Estamos</a>
                <a href="#">Plan de estudios</a>
                <a href="#">Departamento de genero</a>
                <a href="#">Departamento de egresados </a>
                <a href="#">Estatuto</a>
                <a href="#">Contacto</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#">Estudiantes</a>
                <div class="opciones">
                <a href="#">Horarios de clase</a>
                <a href="#">Botiquin para ingresantes</a>
                <a href="#">Install Fest</a>
                <a href="#">Certificado de examen</a>
                <a href="#">Boleto educativo</a>
                <a href="#">Becas y beneficios</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#">Agenda</a>
                <div class="opciones">
                <a href="#">Novedades</a>
                <a href="#">Agenda Tech</a>
                <a href="chorifest.html">ChoriFest</a>
                <a href="#">Fechas de examen</a>
                <a href="#">Calendario escolar</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#">Practicas</a>
                <div class="opciones">
                <a href="#">Empresas aliadas</a>
                <a href="#">Experiencias</a>
                <a href="#">Soy una empresa</a>
                </div>
            </div>
        </div>
        
    </nav>
    
    <hr>

    <section>
        <div>
            <!-- Indicators -->
            <ul>
              <li></li>
              <li></li>
              <li></li>
            </ul>

            <!-- The slideshow -->
            <div>
                <div>
                    <img src="image1.jpg" alt="image1">
                </div>
                <div>
                    <img src="image2.jpg" alt="image2">
                </div>
                <div>
                    <img src="image3.jpg" alt="image3">
                </div>
            </div>
          
            <!-- Left and right controls -->
            <a>
              <span><</span>
            </a>

            <a>
              <span>></span>
            </a>          
        </div>
    </section>

    <section>
        <h3>Bienvendia</h3>
        <article>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum vitae soluta dignissimos! Asperiores nemo, quos placeat aut voluptate vel modi voluptatum reprehenderit. Atque perferendis voluptates doloremque pariatur nam, consequuntur saepe.
            </p>
        </article>
    </section>

    <footer>
        <div>
            
        </div>
    </footer>

</body>
</html>