<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRACTICAS</title>
</head>
<body>
    <nav>
        <div>
            <a href="index.html">Home</a>
        </div>

        <div>
            <h1>PRACTICAS PROFESIONALES</h1>
        </div>
    </nav>


    <!-- carrusel -->
    <section>
        <article>
            <h2>TESTIMONIOS</h2>
            <div>
                <!-- Indicators -->
                <ul>
                <li></li>
                <li></li>
                <li></li>
                </ul>

                <!-- The slideshow -->
                <div>
                    <div>
                        <img src="image1.jpg" alt="image1">
                        <h3>Estudiante</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, hic consequuntur impedit repellat voluptatibus repudiandae, nemo velit architecto, sit veniam ducimus quos accusamus eum odio. Maxime praesentium molestiae aut! Voluptas.</p>
                    </div>
                    <div>
                        <img src="image2.jpg" alt="image2">
                        <h3>Estudiante</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, hic consequuntur impedit repellat voluptatibus repudiandae, nemo velit architecto, sit veniam ducimus quos accusamus eum odio. Maxime praesentium molestiae aut! Voluptas.</p>
                    </div>
                    <div>
                        <img src="image3.jpg" alt="image3">
                        <h3>Estudiante</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, hic consequuntur impedit repellat voluptatibus repudiandae, nemo velit architecto, sit veniam ducimus quos accusamus eum odio. Maxime praesentium molestiae aut! Voluptas.</p>
                    </div>
                </div>
            
                <!-- Left and right controls -->
                <a>
                <span><</span>
                </a>

                <a>
                <span>></span>
                </a>          
            </div>
        </article>
    </section>


    <!-- carrusel -->
    <section>

        <article>
            <h2>EMPRESAS</h2>
            <div>
                <!-- Indicators -->
                <ul>
                <li></li>
                <li></li>
                <li></li>
                </ul>

                <!-- The slideshow -->
                <div>
                    <div>
                        <img src="/images/practicas/empresa" alt="image1" width="50" height="50">
                        <h3>Empresa</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, hic consequuntur impedit repellat voluptatibus repudiandae, nemo velit architecto, sit veniam ducimus quos accusamus eum odio. Maxime praesentium molestiae aut! Voluptas.</p>
                    </div>
                    <div>
                        <img src="/images/practicas/empresa" alt="image2" width="50" height="50">
                        <h3>Empresa</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, hic consequuntur impedit repellat voluptatibus repudiandae, nemo velit architecto, sit veniam ducimus quos accusamus eum odio. Maxime praesentium molestiae aut! Voluptas.</p>
                    </div>
                    <div>
                        <img src="/images/practicas/empresa" alt="image3" width="50" height="50">
                        <h3>Empresa</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, hic consequuntur impedit repellat voluptatibus repudiandae, nemo velit architecto, sit veniam ducimus quos accusamus eum odio. Maxime praesentium molestiae aut! Voluptas.</p>
                    </div>
                </div>
            
                <!-- Left and right controls -->
                <a>
                <span><</span>
                </a>

                <a>
                <span>></span>
                </a>          
            </div>
    </section>


    <!-- formulario -->
    <section>
        <h3>SOY EMPRESA</h3>
        <p>¿Desea ofrecer practicas profesionales en su empresa?</p>
        <form action="GET">
            <label for="empresa">Empresa: </label> <input type="text" name="empresa">
            <label for="email">Correo Electronico: </label> <input type="email" name="email">
            <label for="telefono">Telefono: </label> <input type="text" name="telefono">
            <label for="comentario">Contanos sobre tu propuesta: </label> <textarea name="comentario" cols="30" rows="10"></textarea>
        </form>
    </section>

    <footer>
        <div>
            <a href="https://www.facebook.com" target="_blank"><img src="/images/logo/footer/facebook.png" alt="facebook logo" width="50" height="50"></a>     
            <a href="https://instagram.com" target="_blank"><img src="/images/logo/footer/instagram.png" alt="instagram logo" width="50" height="50"></a>     
            <a href="https://twitter.com" target="_blank"><img src="/images/logo/footer/twitter.png" alt="twitter logo" width="50" height="50"></a>     
            <a href="https://whatsapp.com" target="_blank"><img src="/images/logo/footer/whatsapp.png" alt="whatsapp logo" width="50" height="50"></a>     
            <a href="https://linkedin.com" target="_blank"><img src="/images/logo/footer/linkedin.png" alt="linkedin logo" width="50" height="50"></a>     
            <a href="https://villaellibertador.itscordoba.edu.ar/" target="_blank"><img src="/images/logo/footer/institucional.jpg" alt="institucional logo" width="50" height="50"></a>     
        </div>
    </footer>

</body>
</html>